body {
    font-family: Assistant;
    direction: rtl;
    height:100%;
    overflow-y:hidden;
}
/*מסכי פתיחה*/
.openingScreens {
    background-color: white;
}

    .openingScreens p {
        text-align: right;
        margin-right: 10%;
        width:50%;
        color: #454545;
        font-weight: 300;
        font-size: 26px;
        margin-top: 20%;
    }
    /*header*/
.appHeader {

}

.headerLogo {
    padding:10px;
    padding-top:15px;
    width: 45%;
    height: 45%;
    display: block;
    margin: 0 auto;
}

#start {
    margin-top:40%;
    /*height:30%;*/
    /*margin-bottom: 30%*/
}

#start h1 {
    color: black;
    display: block;
    font-size: 40px;
    text-align:center;
    font-weight:300;
}

#logo1 {
    width: 70%;
    height: 70%;
    display: block;
    margin: 0 auto;
    padding:30px 30px;
}
.whiteBtns {
    /*top: 667px;
    left: 278px;*/

    background: #FFC107 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    width: 25%;
    height: 20px;
    padding: 10px;
    padding-bottom: 22px;
    font-family: Assistant;
    text-decoration: none;
    text-align: center;
}

#systemEntrence {
    top:19px;
    position:relative;
    display: block;
    font-size: 25px;
    margin: 0 auto ;
    letter-spacing: var(--unnamed-character-spacing-0);
    font: SemiBold 25px/33px Assistant;
    letter-spacing: 0px;
    color: #343535;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper
{
    text-shadow: none;
}
#startQuestionnaire {
    top: 19px;
    position: relative;
    display: block;
    font-size: 25px;
    margin: 20%;
    letter-spacing: var(--unnamed-character-spacing-0);
    font: SemiBold 25px/33px Assistant;
    letter-spacing: 0px;
    color: #343535;
 
}
.character {
    width: 40%;
    left:10%;
    position: fixed;
    bottom: 17%;
}

.dotstyle ul {
    display: block;
    width: 20%;
    margin-right: 35%;
    position: fixed;
    bottom: 25px;
    list-style: none;
    cursor: default;
}
    .dotstyle li {
    position: relative;
    display: block;
    float: right;
    margin: 0 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

    .dotstyle li a {
        top: 0;
        left: 0;
        width: 80%;
        height: 80%;
        outline: none;
        border-radius: 50%;
        background-color: #fff;
        background-color: rgba(255,255,255,0.3);
        text-indent: -999em;
        cursor: pointer; /* make the text accessible to screen readers */
        position: absolute;
    }

        .dotstyle li a:focus {
            outline: none;
        }

.dotstyle-scaleup li a {
    border: 1px solid #707070;
    -webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.dotstyle-scaleup li.current a {
    background: #009688 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

/*שאלון פרטים אישיים*/
.QuestionnaireScreens {
    background-color: #F1F1F1;
}

.progressImage {
    width: 87%;
    margin: 51px 63px auto;
}
/*.progress {
    width: 700px;
    margin: 90px auto;
}*/

.ui-page-theme-a .ui-btn.ui-btn-active {
background-color: #00796B;
border:none;
text-shadow:none;
}

.QuestionnaireMain {
    width: 70%;
    height: 950px;
    top: 33px;
    margin: 0 auto;
    background-color: white;
    position: relative;
    border-radius: 13px;
    text-align: center;
}

    .QuestionnaireMain p {
        font-size: 26px;
        font-weight: 600;
        margin-top: 3px;
    }
    .QuestionnaireMain h2 {
        font-size: 32px;
        font-weight: 600;
        color: #009688;
    }
    .questions {
     text-align: right;
     font-size: 20px;
     width:70%;
     margin:0 auto;
     
     }
        .questions p{
            padding:0px;
        }
        .Qinputs {
            width: 60%;
            text-align: right;
            direction: rtl;
        }

.ui-mobile label, div.ui-controlgroup-label {
    margin-right:-44px;
    font-size: 20px;
    margin-top:20px;
}
/*.back {
    position: relative;
    float: right;
    width: 15%;
    margin-top: 0px;
    width: 47px;
    height: 47px;
}*/

#nextbtn1, #nextbtn2, #nextbtn3, #nextbtn4 {
    width: 66px;
    height: 66px;
    position: fixed;
    /* bottom: 25px; */
    float: left;
    left: 161px;
    display: inline-block;
    color: white;
    font-size: 20pt;
}
#NumPosNextbtn, #checkTimeNextbtn {
    border:none;
    margin-top: 0px;
    background-image: url("images/doneClock.png");
    width: 246px;
    height: 50px;
    float:left;
    position:relative;
    top:30px;
    left:50px;
    z-index:3;
}
/*#nextImg, #nextImg1, #nextImg2, #nextImg3 {
    width: 30px;
    height: 30px;
    background-image: url('images/nextIcon.png');
    background-size: 34px;
}*/
.nextlable {
    position: relative;
    bottom: -56px;
    right: 220px;
}

.backlabel {
    float: right;
    position: relative;
    top: 38px;
    right: 78px;
}


#agelabel {
    float: right;
    padding-left: 300px;
    padding-bottom: 7px;
}

.radioGroup {
    float:right;
    
}
.ui-field-contain, .ui-mobile fieldset.ui-field-contain {
    display: inline-grid;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls {
    width:562px;
}

.ui-controlgroup-controls .ui-btn-corner-all, .ui-controlgroup-controls .ui-btn.ui-corner-all {
    font-family: Assistant;
}
#ageSelect {
}

#backBtn1, #backBtn2, #backBtn3, #backBtn4 {
    width: 50px;
    height: 50px;
    float: right;
    position: relative;
    display: inline-block;
    top: 47px;
    right: -41px;
}

#backImg1, #backImg2 {
    width: 22px;
    height: 19px;
    background-image: url('images/backIcon.png');
    background-size: 22px;
    margin: 0 auto;
}

/*מבחן השעון*/
/*גרירת מספרים*/
#instructionsClock{ 
    font-size:28px;
    font-family:Assistant;
    position:relative;
    right:30px;
}
.numbers {
    width: 4.5%;
    height: 50px;
    padding-right: 16px;
    border: 1px solid black;
    border-radius: 50%;
    font-family: Assistant;
    font-weight:700;
    font-size: 25pt;
    position: fixed;
    right: 0%;
}

.twoDigitNumbers {
    width: 5%;
    height: 50px;
    padding-right: 9px;
    padding-left: 3px;
    border: 1px solid black;
    border-radius: 50%;
    font-family: Assistant;
    font-weight: 700;
    font-size: 25pt;
    position: fixed;
}
.freeTextLabels {
    height :80px;
}

figure {
    width: 700px;
    height: 700px;
}

/*.numbers {
    width: 20px;
    margin-right:15px;
    font-family: Rubik;
    font-size: 28pt;
    position: absolute;
    right: 0%;
   
}*/

/*Predefined clock*/

#ClockTestPage1 {
    background-color:white;
}
#ClockTestPage1 h1 {
    font: Bold var(--unnamed-font-size-27)/var(--unnamed-line-spacing-36) var(--unnamed-font-family-assistant);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-009688);
    text-align: center;
    font: Bold 36px Assistant;
    letter-spacing: 0px;
    color: #009688;
    opacity: 1;
}


.hour {
    stroke: black;
    stroke-width: 4;
}


.minute-hand {
    stroke: black;
    stroke-width: 10;
    stroke-linecap: round;
}

.hour-hand {
    stroke: black;
    stroke-width: 14;
    stroke-linecap: round;
}

#mySvgCircle {
    stroke-width: 2;
 
}

#svg, #quantitativeChapterSvg {
    position: absolute;
    top: 22%;
    right: 10%;
}

#clocksvg {
   top:5%;
   z-index:2;
}
.popupOpen {
    display: none;
}

#container1, #quantitativeChapterClockContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    touch-action: none;
}
/*עמוד ניווט*/

#ChaptersNavPage1 {
    background-color: white;
}
.navPageUL {
}
.navPageUL li{
    list-style-type:none;
}

.ChaptersNavLi {

    width: 35%;
    height: 8%;
    background-color: white;
    border-radius:10px;
    margin: 5%;
}

.navImages {
    right: 15%;
    top: 50px;
    position: relative;
    width: 70%;
    margin-bottom: -32px;
    border-radius: 17px;
    display: inline-block;
    background-color: #efefef;
    padding: 13px;
}

.navImagesActive {
    right: 15%;
    top: 50px;
    position: relative;
    width: 70%;
    border:solid 3px #FFC107;
    margin-bottom: -32px;
    border-radius: 17px;
    display: inline-block;
    background-color: #efefef;
    padding: 13px;
}


.navtext {
    padding: 3px;
    position: relative;
    color: white;
    text-align: center;
    width: 246px;
    height: 50px;
    display: inline-block;
    font-size: 22pt;
    bottom: 90px;
    right: 336px;
    background: #BDBDBD;
    border-radius: 10px;
}

.navtextActive {
    font-weight:500;
    padding: 3px;
    position: relative;
    color: white;
    text-align: center;
    width: 246px;
    height: 50px;
    display: inline-block;
    font-size: 22pt;
    bottom: 90px;
    right: 336px;
    background: #009688;
    border-radius: 10px;
}
.VL {
    border-left: 3px solid #FFC107;
    height: 139px;
    position: fixed;
    width: 174px;
    transform: translateY(-20px);
}

.languageSkillsChapterScreens {
    font-family: Assistant;
}

.wordsByLetters {
    font-size: 22pt;
    font-weight:700;
    position:fixed;
    right:42%;
    left:42%;
    top:50%;

}

.TestInstructionsLabel{
    font-size:22pt;
    background-color:white;
}

.pears{
    width:15%;
    height:5%;
    background-color:#202020;
    color:white;
}

.wordsByCategory {
    width: 4.5%;
    height: 50px;
    padding-right: 16px;
    font-family: Assistant;
    font-size: 25pt;
    position: fixed;
    right: 0%;
    z-index:1;
}

.categoryDiv{
    width:120px;
    height: 120px;
    background-color: cadetblue;
  font-size: 20pt;
    display:inline;
    position:fixed;
    top:85%;
}

.categoryDiv:hover{
    border:2px solid;
}
#workToolsCategory {
    margin-right: 12%;
}

#clothsCategory {
    margin-right: 33%;
}

#vegetablesCategory {
    margin-right: 54%;
}
#furnitureCategory {
    margin-right: 75%;
}

/*זכרון לטווח קצר*/
.pathMemory {
    font-size: 30px;
    background-color: grey;
    height: 7%;
    width: 10%;
    border-radius: 10px;
    text-shadow: none;
    text-align: center;
    font-weight: 700;
    line-height: 60px;
}